<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footer-links">
        <div class="footer-projects">
            <p>Various projects made by members:</p>
            <ul class="footer-projects-list">
                <li><a href="https://github.com/End-Tech/syncmatica">Syncmatica</a></li>
                <li><a href="https://github.com/End-Tech/SeedFinder2">SeedFinder</a>, or how we found our OP seed</li>
                <li><a href="https://github.com/samipourquoi/endbot">EndBot</a>, our glorious bot overlord</li>
                <li><a href="https://github.com/samipourquoi/every-scoreboard">Every Scoreboard</a>, because the more stats the better</li>
                <li><a href="https://end-tech.github.io/logo-dyer">Logo Dyer</a></li>
            </ul>
        </div>
        <div class="footer-useful">
            <p>Useful links:</p>
            <ul class="footer-useful-list">
                <li><a href="https://discord.gg/t7UwaDc">Discord</a></li>
                <li><a href="https://github.com/End-Tech">Github</a></li>
                <li><a href="https://gitlab.com/endtechmc">Gitlab</a></li>
            </ul>
        </div>
    </div>

    <p>Website by Jezzers, Londonmine and Samipourquoi.</p>
</footer>
